.side-bar
  .user
    .user-box
      .user-box_name
        = current_user.name
      .user-box_option
        = link_to new_group_path, class: "user-box_option-edit" do
          %i.far.fa-edit
        = link_to edit_user_path(current_user), class: "user-box_option-cog" do
          %i.fas.fa-cog
  .list
    - current_user.groups.each do |group|
      = link_to group_messages_path(group), class: "group" do
        %p.group-name
          = group.name
        %p.group-message
          = group.show_last_message